/* test */

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: white;
}

header {
  background-color: rgb(168, 156, 195);
  color: black;
  width: 100%;
  height: 40px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}

body { 
    width: 800px;
    margin: auto;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: hwb(253 82% 9%)
}

p {
  align-items: right;

}

h6 {
  text-align: center;
  vertical-align: middle;
}


/*
.login-form {
  display: flex;
  flex-direction: column;
}
*/
/*
.form-row {
  margin-right:ß
  display: flex;
  justify-content: space-between;
}

label {
  width: 100px;
  font-size: 8
}

input {
  width: 200px;
}
*/
