{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "litreview_app/styles.css" %}" rel="stylesheet">

</head>

  <body>
    <nav>

    <div id="header">
      <span class="logo">Litreview</span>

      <!--Deconnexion header Reste ajout d'une condition et container + Mise en forme-->
      
      <!--Mon flux-->

      <div id="navigation"> <!--Crea de la div pour travailler le Css-->
        
          <a href="{% url 'dashboard' %}" class="button">Flux</a>							
        
  
        <!--Mes posts-->
        
          <a href="{% url 'posts' %}" class="button">Post</a>							
    
          <a href="{% url 'follows' %}" class="button">Abonnement</a>							
        
          
          <a href="{% url 'logout' %}" class="button">Se déconnecter - {{ request.user.username }}</a>		
          
          
        
      </div>
      
      

    </div>
    </nav>

    <div id="content">
    

      {% block content %}

      {% endblock %}
    </div>

    

  </body>
  </html>
  
  