{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "litreview_app/styles.css" %}" rel="stylesheet">

</head>

  <body>
    <div id="header">
      <span class="logo">Litreview</span>

      <!--Deconnexion header Reste ajout d'une condition et container + Mise en forme-->
      
      <!--Mon flux-->
      <div class="menu-item px-5">
        <a href="{% url 'dashboard' %}" class="button">Flux</a>							
      </div>

      <!--Mes posts-->
      <div class="menu-item px-5">
        <a href="{% url 'posts' %}" class="button">Post</a>							
      </div>

      <div class="menu-item px-5">
        <a href="{% url 'follows' %}" class="button">follows</a>							
      </div>

      <div class="menu-item px-5">
        <a href="{% url 'logout' %}" class="button">Se déconnecter</a>		
        <p> Bonjour {{ request.user.username }}</p>		<!--Affichage de la personne connecté-->			
      </div>

      

    </div>
    <div id="content">

      {% block content %}

      {% endblock %}
    </div>

    

  </body>
  </html>
  
  