{% load static %} <!-- Chargement du fichier static de l'application pour utilisation du css -->

<!DOCTYPE html>

<html>
    
    <head>
        <title>Litreview</title>
        <link rel="stylesheet" href="{% static "litreview_app/styles.css" %}" /> <!-- Lien Django avec la feuille de style -->
    </head>

    <header>
        <h1><a href="http://127.0.0.1:8000/litreview_app/homepage/">LITReview</h1></a>
    </header>

    <body>
        <p>
        <h2>Inscrivez-vous</h2>

        <form method="POST">
            {% csrf_token %} <!-- Token verifie que le formulaire est authentique a mettre sur chaque formulaire (ex connectez vous etc)-->
            <div class="form-group">
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password1 }}
            </div>
            <div class="form-group">
                {{ form.password2 }}
            </div>
            <button type="submit">S'inscrire</button>

            <h6><a href="http://127.0.0.1:8000/litreview_app/homepage/">Retourner</a></h6>
        </form>
    </p>
    </body>

</html>