{% extends "base.html" %}
{% load static %}
<title>{% block title %}Dashboard{% endblock %}</title> <!--Utiliser block title et block content pour le reste des pages-->

      {% block content %} <!--Ajout de l'html de la page entre block content et endblock-->
        <h1>Dashboard</h1>
        
      

        <div class="menu-item px-5">
          <a href="{% url 'create_ticket' %}" class="button">Demander une critique(Ticket)</a>
        </div>

        <p>Bienvenue sur votre flux d'actualité:</p>

          <h2>Tableau de bord</h2>

          <div class="tickets">
            {% for ticket in tickets %}
              <div class="ticket">
                <div class="ticket-header">
                  <h3>{{ ticket.title }}</h3>
                  <p class="created-by">Créé par : {{ ticket.user }}</p>
                </div>
                <div class="ticket-content">
                  <p>{{ ticket.description }}</p>
                  {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}" class="ticket-image">
                  {% endif %}
                </div>
              </div>
            {% empty %}
              <p>Aucun ticket trouvé.</p>
            {% endfor %}
          </div>

          <div class="menu-item px-5">
              <a href="{% url 'logout' %}" class="button">Se déconnecter</a>	<!--Toutes les redirections se font sur ce format-->						
          </div>

      {% endblock %}
      











