{% extends "base.html" %}
{% load static %}
<title>{% block title %}Dashboard{% endblock %}</title> <!--Utiliser block title et block content pour le reste des pages-->

      {% block content %} <!--Ajout de l'html de la page entre block content et endblock-->
        <h1>Dashboard</h1>
        
      

       
          <!-- Affichage Critique + Ticket -->

          <div class="reviews">
            {% for review in reviews %}
                <div class="review">
                    <h3>{{ review.title }}</h3>
                    <p>{{ review.content }}</p>
                    <p>Rating: {{ review.rating }}</p>  <!-- Afficher le rating ici -->
                    
                    <div class="ticket">
                        <h4>{{ review.ticket.title }}</h4>
                        <p>{{ review.ticket.description }}</p>
                        {% if review.ticket.image %}
                            <img src="{{ review.ticket.image.url }}" alt="{{ review.ticket.title }}" class="ticket-image">
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p>Aucune critique trouvée.</p>
            {% endfor %}
          </div>

          <!-- Affichage Ticket -->
          <div class="tickets">
            {% for ticket in tickets %}
                {% if not ticket.review_set.exists %}
                    <div class="ticket">
                        <h3>{{ ticket.title }}</h3>
                        <p>{{ ticket.description }}</p>
                        {% if ticket.image %}
                            <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}" class="ticket-image">
                        {% endif %}
                    </div>
                {% endif %}
            {% empty %}
                <p>Aucun ticket trouvé.</p>
            {% endfor %}
          </div>

          <!-- Bouton de deconnection -->
          <div class="menu-item px-5">
              <a href="{% url 'logout' %}" class="button">Se déconnecter</a>	<!--Toutes les redirections se font sur ce format-->						
          </div>

      {% endblock %}
      











