{% extends "base.html" %}
{% load static %}
<title>{% block title %}Dashboard{% endblock %}</title> <!--Utiliser block title et block content pour le reste des pages-->

      {% block content %}
        <h1>Dashboard</h1>
        <p>Bienvenue sur votre flux d'actualité:</p>

        <div class="menu-item px-5">
            <a href="{% url 'logout' %}" class="#">Se déconnecter</a>							
        </div>
        
      {% endblock %}
      














<!--
{% load static %} <!-- Chargement du fichier static de l'application pour utilisation du css

<!DOCTYPE html>

<html>
    
    <head>
        <title>Litreview</title>
        <link rel="stylesheet" href="{% static "litreview_app/styles.css" %}" /> <!-- Lien Django avec la feuille de style 
    </head>

    <header>
        <h1><a href="http://127.0.0.1:8000/litreview_app/homepage/">LITReview</h1></a>
    </header>

    <body>
        
        <h2>Mon flux d'actualité</h2>

        
    </body>

</html> -->