{% extends "base.html" %}
{% load static %}

<title>{% block title %}Create Ticket{% endblock %}</title> <!--Utiliser block title et block content pour le reste des pages-->

      {% block content %}

    {% if error %}
      <p style="color:red;">{{ message }}</p>
    {% endif %}

    {% if success %}
      <p style="color:green">{{ message }}</p>
    {% endif %}

    <hr>
      <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="submit" value="Envoyer">


      </form>
      <hr> 
      <h1>Mes Abonnés</h1>
        {% for myfollower in myfollowers %} <!-- Mes Abonnés-->
            <p>{{ myfollower.followed_user.username }}</p>
        
        
        {% endfor %}
        <hr>
        <h1>Mes abonnements</h1>
        {% for myfollow in myfollows %}<!-- Mes Abonnements-->
        <p>{{ myfollow.user.username }}</p>

        
        
        {% endfor %}

      {% endblock %}