{% extends "base.html" %}
{% load static %}

<title>{% block title %}Create Ticket{% endblock %}</title> <!--Utiliser block title et block content pour le reste des pages-->

      {% block content %}

    {% if error %}
      <p style="color:red;">{{ message }}</p>
    {% endif %}

    {% if success %}
      <p style="color:green">{{ message }}</p>
    {% endif %}

      <form class="follow_form" action="" method="post">
        {% csrf_token %}
        <input class="follow_form_username" type="text" name="username">
        <input type="submit" value="Envoyer">


      </form>
      <hr> 
      <h1>Mes Abonnés</h1>
      <table style="width:100%">
        {% for myfollower in myfollowers %} <!-- Mes Abonnés-->
            
            <tr>
              <td><p>{{ myfollower.followed_user.username }}</p></td>
            </tr>
        {% endfor %}
      </table>

        <h1>Mes abonnements</h1>
        <table style="width:100%">
        {% for myfollow in myfollows %}<!-- Mes Abonnements-->
          <tr>
            <td><p>{{ myfollow.user.username }}</p></td>
            <td><a class='button' href="{% url 'unfollow' follow_id=myfollow.id %}">Se désabonner</a> </td> <!--Lien vers l'url de supression de mes abonnements-->
          </tr>
          {% endfor %}
        </table>

      {% endblock %}