{% load static %} 

<!DOCTYPE html>

<html>

    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static "litreview_app/styles.css" %}" />
    </head>

    <header>
        <h1><a href="http://127.0.0.1:8000/litreview_app/homepage/">LITReview</h1></a>
    </header>

    <body>

      <p>
      <h2>Connectez-vous</h2>
          <form action="login.php" method="POST">
            <label for="username">Nom d'utilisateur:</label>
            <input type="text" name="username" id="username" />
            
            <label for="password">Mot de passe:</label>
            <input type="password" name="password" id="password" />
            
            <input type="submit" value="Login" />
        </form>
        
        <h6>Inscrivez-vous maintenant
        <a href="http://127.0.0.1:8000/litreview_app/create_account/">s'inscrire</a></h6>
      </p>
        
    </body>

    <footer>
    </footer>

</html>

<!-- Ressources base 
<h1>Connectez-vous</h1>
        <button>Cliquez ici</button>
        <input type="text" />

        <textarea rows="4" cols="50">
            Votre texte ici
        </textarea>
    -->