<!--Pas heritage de  base.html pour les pages non connectées-->

{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "litreview_app/styles.css" %}" rel="stylesheet">

</head>

  <body>
    <div id="header">
      <span class="logo">Litreview</span>

      

    </div>
    <div id="content">

      {% block content %}
        
        <h1>Connectez-vous</h1>

        <form method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <p><input type="submit" value="Log in"></p>
        </form>



        <!--Redirections vers creer un compte -->
        <div class="menu-item px-5">
          <a href="{% url 'register' %}" class="button">Inscrivez-vous maintenant</a>							
        </div>
      {% endblock %}
    </div>

    

  </body>
  </html>
  

  
      
        
      











