{% extends "base.html" %}
{% load static %}
<title>{% block title %}Se connecter{% endblock %}</title> <!--Utiliser block title et block content pour le reste des pages-->

      {% block content %}
        <h1>Connectez-vous</h1>

        <form method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <p><input type="submit" value="Log in"></p>
        </form>

       

      {% endblock %}


        
       <!-- 
          Ajout du bouton pour accéder à la page d'inscription
        <p>
        <a href="{% url 'register' %}" class="btn btn-primary">Créer un compte</a>
        </p>
        -->











