{% extends "base.html" %}

{% load static %}
<title>
  {% block title %}Creer votre compte{% endblock %}
</title> <!--Utiliser block title et block content pour le reste des pages-->

{% block content %}
  <h2>Créer un compte</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">S'inscrire</button>
  </form>
  
  {% if form.errors %} <!--Ajout code pour voir d'ou viens l'erreur de creation de compte-->
  <ul class="errors">
    {% for field in form %}
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
  
{% endblock %}