{% extends "base.html" %}

{% load static %}
<title>
  {% block title %}Creer votre compte{% endblock %}
</title> <!--Utiliser block title et block content pour le reste des pages-->

{% block content %}
  <h2>Créer un compte</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">S'inscrire</button>
  </form>

  <!-- Ajout du bouton pour accéder à la page d'inscription -->
  <p>
    <a href="{% url 'register' %}" class="btn btn-primary">Créer un compte</a>
  </p>

{% endblock %}